body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("bg.jpg"); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: black;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 20px;
}

.logo {
    width: 64px;
    height: 64px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
}

header h1 {
    text-align: center;
    font-size: 4rem; 
    font-weight: 900; 
    margin: 0;
    color: black; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.glass-container {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    max-width: 400px;
}

video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f8f3b7;
    color: black;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(1);
}

p {
    font-size: 1.2rem;
    margin-top: 15px;
}